{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'abastecimento/style_pdf.css' %}">
</head>
<body>

    {% if bomba or combustivel or colaborador%}
        <h6>Filtrado por:</h6>

        {% if bomba %}
            <h6>Filtrado por: Bomba </h6>
        {% endif %}

        {% if combustivel %}
            <h6>Filtrado por: Combustivel </h6>
        {% endif %}

        {% if colaborador %}
            <h6>Filtrado por: Colaborador </h6>
        {% endif %}

        {% if bomba and combustivel %}
            <h6>Filtrado por: Bomba e Combustível </h6>
        {% endif %}

        {% if bomba and colaborador %}
            <h6>Filtrado por: Bomba e Colaborador </h6>
        {% endif %}

        {% if bomba and combustivel and colaborador%}
            <h6>Filtrado por: Bomba, Combustível e Colaborador </h6>
        {% endif %}

        {% if combustivel and colaborador %}
            <h6>Filtrado por: Colaborador e Combustível </h6>
        {% endif %}

    {% endif %}
    <table id="tabela">
        <thead>
            <tr class="tabela-cabecalho">
                <th class="cabecalho-tabela">Bomba</th>
                <th class="cabecalho-tabela">Combustível</th>
                <th class="cabecalho-tabela">Colaborador</th>
                <th class="cabecalho-tabela">Litros</th>
                <th class="cabecalho-tabela">Valor Total</th>
            </tr>
        </thead>

        <tbody>
            {% for abastecimento in abastecimentos %}
                    <tr class="tabela-corpo-linha">
                        <td class="tabela-corpo">{{ abastecimento.bomba.NumeroBombaMascara }}</td>
                        <td class="tabela-corpo">{{ abastecimento.combustivel.get_tipo_de_combustivel_display }}</td>
                        <td class="tabela-corpo">{{ abastecimento.colaborador.nome }}</td>
                        <td class="tabela-corpo">{{ abastecimento.litros_abastecido }}</td>
                        <td class="tabela-corpo">{{ abastecimento.valor_total_display }}</td>
                    </tr>
            {% empty %}
        {#        <h3>Não há Colaboradores relacionados ao posto escolhido.</h3>#}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>