{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .div-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 50px;
        }

        .titulo-relatorio {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="div-header">
        <div class="titulo-relatorio">Relatorio De Abastecimentos</div>
    </div>
</body>
</html>