<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
    </head>

    <body>
        <h2>{{ posto.razao_social }}</h2>
        <h3>{{ posto.cnpj }}</h3>

        <ul>
            <li>
                <a href={% url 'colaborador:list' %} >Colaboradores</a>
            </li>

            <li>
                <a href={% url 'bomba_de_combustivel:list' %} >Bombas de Combustivel</a>
            </li>

            <li>
                <a href={% url 'combustivel:list' %} >Combustivel</a>
            </li>

            <li>
                <a href={% url 'funcao:list' %} >Função</a>
            </li>

            <li>
                <a href={% url 'tanque:list' %} >Tanque</a>
            </li>

            <li>
                <a href={% url 'abastecimento:list' %} >Abastecimento</a>
            </li>

            <li>
                <a href={% url 'logout' %} >Sair</a>
            </li>
        </ul>
    </body>
</html>