{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'inicio/style.css' %}">
    </head>

    <body>
        <div class="plano-fundo">

            <div class="cabecalho">
                <h1 class="razao">{{ posto.razao_social }}</h1>
                <h5 class="cnpj">{{ posto.cnpj }}</h5>
                <a  href={% url 'logout' %} >Sair</a>
            </div>

            <div class="corpo">
                <div class="corpo-coluna">
                    <a class="botao-acesso" href={% url 'colaborador:list' %} >Colaboradores</a>
                    <a class="botao-acesso" href={% url 'bomba_de_combustivel:list' %} >Bombas de Combustivel</a>
                    <a class="botao-acesso" href={% url 'combustivel:list' %} >Combustivel</a>
                </div>

                <div class="corpo-coluna">
                    <a class="botao-acesso" href={% url 'funcao:list' %} >Função</a>
                    <a class="botao-acesso" href={% url 'tanque:list' %} >Tanque</a>
                    <a class="botao-acesso" href={% url 'abastecimento:list' %} >Abastecimento</a>
                </div>

            </div>

            <div class="rodape">
                <h2 class="rodape_house">Softwere house</h2>
                <h2 class="rodape_data">{{ posto.DataAtual}}</h2>
            </div>

        </div>
    </body>
</html>