{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'abastecimento/style.css' %}">
{% endblock %}


{% block corpo %}

    <div class="div-base-card">
        <div class="card-criar">
            <div class="card-criar-inputs">
                <div class="div-select">
                    {% csrf_token %}
                    <label class="label-select" for="card-campo-bomba">Bomba:</label>
                    <select name="" class="card-campo-bomba" id="card-campo-bomba">

                    </select>

                    <label class="label-select" for="card-campo-cobustivel">Combustível:</label>
                    <select name="" class="card-campo-bomba" id="card-campo-combustivel">

                    </select>

                    <label class="label-select" for="card-campo-colaborador">colaborador:</label>
                    <select name="" class="card-campo-bomba" id="card-campo-colaborador">

                    </select>

                    <label class="label-select" for="card-campo-colaborador">Litros:</label>
                    <input class="card-campo-litros" type="number" id="card-campo-litros">

                    <h2 class="valor-total" id="valor-total">Total: R$ 0,00</h2>
                </div>
            </div>

            <div class="div-card-botao">
                <input type="submit" class="cabecalho-app-botao" onclick="CriarAbastecimento()">
                <a href="{% url 'inicio:dashboard' %}" class="cabecalho-app-botao-inicio"> Inicio</a>
            </div>
        </div>

        <div class="card-tabela">
            <div id="abastecimento-tabela">
                {% include 'abastecimento/table.html' %}
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        var urlApiBombas = "{% url 'bomba_de_combustivel:select' %}"
        var urlApiCombustiveis = "{% url 'combustivel:select' %}"
        var urlApiColaboradores = "{% url 'colaborador:select' %}"
        var urlApiAbastecimento = "{% url 'abastecimento:create' %}"
        var urlTableBusca = "{% url 'abastecimento:table' %}"
        var urlBuscarValor = "{% url 'abastecimento:valor' %}"

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    </script>

    <script type="application/javascript" src="{% static 'abastecimento/script.js' %}"></script>

{% endblock %}
