{% extends 'base_table.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'cadastro_colaborador/table.css' %}">
{% endblock %}

{% block conteudo_tabela_cabecalho %}
    <th class="cabecalho-numero">Nome</th>

    <th class="cabecalho-funcao">Função</th>

    <th class="cabecalho-acoes">Ações</th>
{% endblock %}

{% block conteudo_tabela_corpo %}
    {% for colaborador in object_list %}
            <tr class="tabela-corpo-linha">
                <td class="tabela-corpo-nome">{{ colaborador.nome }}</td>

                <td class="tabela-corpo-funcao">{{ colaborador.funcao }}</td>

                <td class="tabela-corpo-acaoes">
                    <a href="{% url 'colaborador:update' colaborador.pk %}" class="botao-acao-editar">Editar</a>
                    <a href="{% url 'colaborador:delete' colaborador.pk %}" class="botao-acao-excluir">Excluir</a>
                </td>
            </tr>
    {% empty %}
        <h3>Não há Colaboradores relacionados ao posto escolhido.</h3>
    {% endfor %}

{% endblock %}
