<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Função</title>
</head>
<body>
    <h1>Funções</h1>

    <a href="{% url 'funcao:create' %}">Novo</a>
    <a href="{% url 'inicio:dashboard' %}">Inicio</a>

    <ul>
    {% for funcao in object_list %}
        <li>{{ funcao.descricao}}
            <a href="{% url 'funcao:update' funcao.pk %}">Editar</a>
            <a href="{% url 'funcao:delete' funcao.pk %}">Excluir</a>
        </li>
    {% empty %}
        <li>Não há funções relacionádas ao posto escolhido.</li>
    {% endfor %}
    </ul>
</body>
</html>