{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Loguin</title>
        <link rel="stylesheet" href="{% static 'acesso/style.css' %}">
    </head>

    <body>
        {% if form.errors %}
            <p>Seu nome de usuário e senha não correspondem. Por favor, tente novamente.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Sua conta não tem acesso a esta página. Para prosseguir, faça o login com uma conta que tenha acesso.</p>
            {% else %}
                <p>Por favor, faça o login para ver esta página.</p>
            {% endif %}
        {% endif %}

       <div class="box">
           <form class="formcampos" method="post" action="{% url 'acesso:login' %}">
                {% csrf_token %}
                <table class="tbcampos">
                    <tr>
                        <td>{{ form.username }}</td>
                    </tr>

                    <tr>
                        <td>{{ form.posto }}</td>
                    </tr>

                    <tr>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
           </form>
       </div>



    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="application/javascript" src="{% static 'acesso/script.js' %}"></script>

    <script>
        var urlApiPostos = {% url 'posto:list' %}


    </script>
    </body>
</html>