{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Loguin</title>
        <link rel="stylesheet" href="{% static 'acesso/style.css' %}">
    </head>

    <body>
        {% block content %}
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

           <div class="box">
               <form class="formcampos" method="post" action="{% url 'acesso:login' %}">
                    {% csrf_token %}
                    <table class="tbcampos">
                        <tr>
                            <td>{{ form.username }}</td>
                        </tr>

                        <tr>
                            <td>{{ form.posto }}</td>
                        </tr>

                        <tr>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>

{#                    <div class="ab-box-login">#}
{#                        <div class="ab-box-inputs-login">#}
{#                            <div class="ab-input-login">{{ form.username }}</div>#}
{##}
{#                            <div class="ab-input-login">{{ form.username }}</div>#}
{##}
{#                            <div class="ab-input-login">{{ form.username }}</div>#}
{#                        </div>#}
{##}
{#                        <div class="ab-box-button-login">#}
{##}
{#                        </div>#}
{#                    </div>#}

                    <input type="submit" value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />
               </form>
           </div>

              {# Assumes you setup the password_reset view in your URLconf #}
{#              <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script type="application/javascript" src="{% static 'acesso/script.js' %}"></script>
{#        <script>window.onload = function () { alert("Está carregado!") } </script>#}

        <script>
            var urlApiPostos = {% url 'posto:list' %}


        </script>
    </body>
</html>