{% extends 'base_list.html' %}
{% load static %}

{% block title %}
    <title>Tanque</title>
{% endblock %}

{% block listagem_titulo %}
    <h1>Função</h1>
{% endblock %}

{% block listagem_novo %}
    <a href="{% url 'tanque:create' %}" class="cabecalho-app-bomba-novo">+ Novo</a>
{% endblock %}

{% block search %}
    <div>
        <input id="search" type="search" class="cabecalho-app-imput" placeholder="Exemplo: Gasolina... ">
        <input type="submit" class="cabecalho-app-botao" onclick="carregarTabela()">
    </div>
{% endblock %}

{% block card_conteudo %}
    {% include 'tanque/table.html' %}
{% endblock %}

{% block url_table %}
    var urlTableBusca = "{% url 'tanque:table' %}"
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'bomba_de_combustivel/script.js' %}"></script>

    <script>
        var urlTableBusca = "{% url 'tanque:table' %}"
    </script>
{% endblock %}








<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tanques</title>
</head>
<body>
    <h1>Tanques</h1>

    <a href="{% url 'tanque:create' %}">Novo</a>
    <a href="{% url 'inicio:dashboard' %}">Inicio</a>

    <ul>
    {% for tanque in object_list %}
        <li>{{ tanque.combustivel}}
            <a href="{% url 'tanque:update' tanque.pk %}">Editar</a>
            <a href="{% url 'tanque:delete' tanque.pk %}">Excluir</a>
        </li>
    {% empty %}
        <li>Não há tamques relacionádos ao posto escolhido.</li>
    {% endfor %}
    </ul>
</body>
</html>