
.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid black;
}

.rodape-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.row-rodape {
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
}