.div-base-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-criar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    background-color: #dedddd;
    width: 400px;
    height: 600px;
    box-shadow: 5px 5px 11px #666666;
    margin-top: 150px;
    margin-left: 30px;
}

.card-tabela {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    background-color: #dedddd;
    width: 1300px;
    height: 600px;
    box-shadow: 5px 5px 11px #666666;
    margin-top: 150px;
    margin-right: 30px;
    overflow-y: auto;
}

.corpo-base {
    height: calc(100vh - 163px) !important;
}

.card-criar-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 600px;
}

.cabecalho-app-botao {
    border: 1px solid black;
    border-radius: 5px;
    padding: 11px;
    background-color: #0d2b9a;
    color: white;
    margin: 10px;
}

.cabecalho-app-botao:hover {
    border: 1px solid black;
    border-radius: 5px;
    padding: 11px;
    background-color: #0c3ffc;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.cabecalho-app-botao-inicio {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #525050;
    color: white!important;
}

.cabecalho-app-botao-inicio:hover {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #b3b1b1;
    color: black!important;
    transition: all 0.5s;
}

.cabecalho-app-botao-imprimir {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #999910;
    color: #030303 !important;
    margin-left: 171px;
}

.cabecalho-app-botao-imprimir:hover {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #fdfd19;
    color: black!important;
    transition: all 0.5s;
    cursor: pointer;
}

.card-campo-bomba {
    padding: 10px;
    width: 300px;
    margin-top: 7px;
    font-size: 20px;
}

.card-campo-litros {
    padding: 10px;
    width: 280px;
    margin-top: 7px;
    font-size: 20px;
}

.cabecalho-tabela-primeiro {
    width: 295px!important;
    border-bottom: 2px solid black;
}

.cabecalho-tabela {
    width: 295px!important;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.tabela-corpo-primeiro {
    padding: 5px;
    border-bottom: 0.5px solid #c4c3c3;

}
.tabela-corpo {
    padding: 5px;
    border-bottom: 0.5px solid #c4c3c3;
    border-left: 0.5px solid #c4c3c3;
}

.div-card-botao {
    border-top: 1px solid black;
    width: 100%;
}

.valor-total {
    margin-top: 34px;

}

.div-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.label-select {
    margin-top: 10px;
    font-weight: bold;

}