body  {
    background: url("images/postoblured.png") no-repeat  center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;


}

.box {
    background-color: #e8e6e6;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #1d1d1d;
}

.ap-input {
    padding: 10px;
    width: 300px;
    height: 30px;
    margin-top: 7px;
    font-size: 15px;
}
.ap-input-select {
    padding: 10px;
    width: 324px;
    height: 50px;
    margin-top: 7px;
    display: None;
}

.tbcampos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;

}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: center;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: #0fa94e;
    color: white;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    box-shadow: 5px 5px 11px #1d1d1d;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 20px;

}

. td input[name=username] {
    width: 300px;
    height: 50px;
}

/*@media (max-width: 600px) {*/
/*    .box {*/
/*        background-color: #e8e6e6!important;*/
/*        width: 500px;*/
/*        height: 500px;*/
/*        border-style: solid;*/
/*        border-width: 1px;*/
/*        border-color: black;*/
/*        border-radius: 20px;*/
/*        box-shadow: 5px 5px 15px #1d1d1d;*/
/*    }*/
/*}*/