{% extends 'base_list.html' %}
{% load static %}

{% block title %}
    <title>Colaborador</title>
{% endblock %}

{% block listagem_titulo %}
    <h1>Colaborador</h1>
{% endblock %}

{% block listagem_novo %}
    <a href="{% url 'colaborador:create' %}" class="cabecalho-app-bomba-novo">+ Novo</a>
{% endblock %}

{% block search %}
    <div>
        <input id="search" type="search" class="cabecalho-app-imput" placeholder="Exemplo: João... ">
        <input type="submit" class="cabecalho-app-botao" onclick="carregarTabela()">
    </div>
{% endblock %}

{% block card_conteudo %}
    {% include 'colaborador/table.html' %}
{% endblock %}

{% block url_table %}
    var urlTableBusca = "{% url 'colaborador:table' %}"
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        var urlTableBusca = "{% url 'colaborador:table' %}"
    </script>
{% endblock %}





{#<!DOCTYPE html>#}
{#<html lang="pt-br">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Colaboradores</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Colaborador</h1>#}
{##}
{#    <a href="{% url 'colaborador:create' %}">Novo</a>#}
{#    <a href="{% url 'inicio:dashboard' %}">Inicio</a>#}
{##}
{#    <ul>#}
{#    {% for colaborador in object_list %}#}
{#        <li>{{ colaborador.nome }} - {{ colaborador.funcao }}#}
{#            <a href="{% url 'colaborador:update' colaborador.pk %}">Editar</a>#}
{#            <a href="{% url 'colaborador:delete' colaborador.pk %}">Excluir</a>#}
{#        </li>#}
{#    {% empty %}#}
{#        <li>Não há colaboradores relacionádo ao posto escolhido.</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#</body>#}
{#</html>#}