<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Colaboradores</title>
</head>
<body>
    <h1>Colaborador</h1>

    <a href="{% url 'colaborador:create' %}">Novo</a>
    <a href="{% url 'inicio:dashboard' %}">Inicio</a>

    <ul>
    {% for colaborador in object_list %}
        <li>{{ colaborador.nome }} - {{ colaborador.funcao }}
            <a href="{% url 'colaborador:update' colaborador.pk %}">Editar</a>
            <a href="{% url 'colaborador:delete' colaborador.pk %}">Excluir</a>
        </li>
    {% empty %}
        <li>Não há colaboradores relacionádo ao posto escolhido.</li>
    {% endfor %}
    </ul>
</body>
</html>