{% extends 'base_delete.html' %}
{% load static %}

{% block style %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'base/css/delete.css' %}">
{% endblock %}


{% block app_titulo %}
    <h1>Deletar Combustível</h1>
{% endblock %}

{% block card_conteudo_frase %}
    <h2>Tem Certeza que Deseja Deletar o "{{ object.combustivel_tipo }}"?</h2>
    {{ form }}
{% endblock %}

{% block card_conteudo_botoes %}
    <input type="submit" value="Deletar">
    <a class="card-conteudo-botao-voltar"  href="{% url 'combustivel:list' %}">Voltar</a>
{% endblock %}




