{% extends 'base_form.html' %}
{% load static %}

{% block style %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'base/css/forms.css' %}">
{% endblock %}

{% block card_conteudo %}
    {% for field in form %}
        {% if not field.is_hidden %}
            {{ field }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block card_conteudo_botoes %}
    <input type="submit" value="Criar">
    <a class="card-conteudo-botao-voltar" href="{% url 'bomba_de_combustivel:list' %}">Voltar</a>
{% endblock %}


