<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bombas de combustivel</title>
</head>
<body>
    <h1>Bombas de combustivel</h1>

    <a href="{% url 'bomba_de_combustivel:create' %}">Novo</a>
    <a href="{% url 'inicio:dashboard' %}">Inicio</a>

    <ul>
    {% for Bomba in object_list %}
        <li>Bomba {{ Bomba.numero }} - {{ Bomba.posto }}</li>
    {% empty %}
        <li>Não há bombas relacionáda ao posto escolhido.</li>
    {% endfor %}
    </ul>
</body>
</html>