{% extends 'base_list.html' %}
{% load static %}

{% block listagem_titulo %}
    <h1>Bombas de combustivel</h1>
{% endblock %}

{% block listagem_novo %}
    <a href="{% url 'bomba_de_combustivel:create' %}" class="cabecalho-app-bomba-novo">+ Novo</a>
{% endblock %}

{% block card_conteudo %}
    {% include 'bomba_de_combustivel/table.html' %}
{% endblock %}

{% block url_table %}
    var urlTableBusca = "{% url 'bomba_de_combustivel:table' %}"
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'bomba_de_combustivel/script.js' %}"></script>

    <script>
        var urlTableBusca = "{% url 'bomba_de_combustivel:table' %}"
    </script>
{% endblock %}