{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'base/css/list.css' %}">
{% endblock %}

{% block corpo %}
    <div class="titulo-app-bomba">
        {% block titulo_app %}

        {% endblock %}
    </div>

    <div class="card-tabela">

        <form method="POST" enctype="multipart/form-data" class="form-card-conteudo">
            {% csrf_token %}

            <div class="card-conteudo-imputs">
                {% block card_conteudo %}

                {% endblock %}
            </div>

            <div class="card-conteudo-botoes">
                {% block card_conteudo_botoes %}

                {% endblock %}
            </div>

        </form>

    </div>
{% endblock %}