{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'base/css/forms.css' %}">
{% endblock %}

{% block corpo %}
    <div class="titulo-app-bomba">
        {% block app_titulo %}

        {% endblock %}
    </div>

    <div class="card-tabela">
            <form method="post" class="form-card-conteudo">
                {% csrf_token %}

                <div class="card-conteudo-frase">
                    {% block card_conteudo_frase %}

                    {% endblock %}
                </div>

                <div class="card-conteudo-botoes">
                    {% block card_conteudo_botoes %}

                    {% endblock %}
                </div>

            </form>
    </div>
{% endblock %}