*{
    margin:0;
    padding:0;
    border:0;
}

body {
    background: url("../images/postoblured.png") no-repeat  center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: #dedddd;
}

.cabecalho-menu-lista {
    color: black;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 818px;

}

.corpo-base {
    height: calc(100vh - 174px);
}

.corpo-coluna {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

.botao-acesso {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #dedddd;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 0.5px;
    border-radius: 7px;
    width: 250px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 5px 5px 11px #666666;
}

.botao-acesso:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0fa94e;
    border-style: solid;
    border-color: #0fa94e;
    border-width: 0.5px;
    border-radius: 7px;
    cursor: pointer;
    width: 250px;
    height: 100px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 10px;
    box-shadow: 5px 5px 11px #666666;
    transition: all 0.5s;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: None;
}

.rodape {
    display: flex;
    height: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    background-color: #dedddd;
}

.rodape-house {
    margin-left: 10px;
}

.rodape-data {
    margin-right: 10px;
}

.razao {
    margin-left: 10px;
    margin-top: 15px;

}

.cnpj {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 100%;
    margin-right: 10px;
}

.cabecalho-menu-nome{
    margin-left: 25px;
}

.cabecalho-menu-drop{
    position: relative;
    float:left;

}

.cabecalho-menu-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 25px;
    width: 50px;
    height: 50px;

}

.cabecalho-menu-ul {
    list-style:none;
}

.cabecalho-menu-sair {
    color: black!important;
}

.cabecalho-menu-sair:hover {
    color: white!important;
}

.cabecalho-menu-botao a {
    color:#333;
    text-decoration:none;
    padding:5px 10px;
    display:block;
}

.cabecalho-menu-ul a:hover{
    background:#333;
    color:#fff;
    cursor: pointer;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.cabecalho-menu-drop .cabecalho-menu-ul {
    position:absolute;
    width: 100px;
    top:25px;
    left:-80px;
    background-color:#fff;
    display:none;
}

.cabecalho-menu-botao:hover .cabecalho-menu-ul, .cabecalho-menu-botao.over .cabecalho-menu-ul {
    display:block;
}

